// Add the first line comment to enable SASS Auto Compile
@import "partials/variables";
@import "partials/common-styles";
@import "partials/media-queries";
@import "partials/reset";

/* ****
Main styling
**** */
body {
    font-family: 'PT Sans', sans-serif;
    color: $color-blacksteel;
    // min-width: 320px;
}

#title, #description {
    text-align: center;
}

h1#title {
    letter-spacing: 1px;
}

#description {
    margin: 10px 0 30px;
}

#container {
    background-color: $color-paper;
    border-radius: 5px;
    box-sizing: border-box; 
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    
    @include tiny-phone {
        width: 95%;
        padding: 15px 10px 50px;
    }
    @include phone {
        width: 90%;
        padding: 15px 20px 40px;
    }
    @include tablet {
        width: 80%;
        padding: 15px 30px 40px;
    }
    @include laptop {
        width: 70%;
        padding: 15px 40px 30px;
    }
    @include desktop {
        width: 60%;
        padding: 10px 50px 30px;
    }

    .row:last-of-type {
        margin-bottom: 30px;
    }

    #submit {
        display: block;
        margin: 0 auto;
        font-size: 1.25em;
        @include borderAndPadding(5px 15px, 1px, 2px);
    }
}

/*
Row module
*/
@import "modules/row.scss";

/* ****
Responsive styling
**** */
