// Add the first line comment to enable SASS Auto Compile
@import "partials/variables";

/* ****
Main styling
 **** */
body {
    font-family: 'PT Sans', sans-serif;
    color: $color-blacksteel;
    min-width: 320px;
}

#title, #description {
    text-align: center;
}

h1#title {
    letter-spacing: 1px;
}

#container {
    background-color: $color-paper;
    border-radius: 2px;
    padding: 20px 10px;
    margin: 0 auto;
    /* width: 50%; */
}

/*
Row module
*/
.row {
    .label-div {
        display: inline-block;
        width: 50%;
        text-align: right;
        padding: 10px 0;
        margin-right: 20px;
        vertical-align: top;
    }
    .label-required {
        label {
            &::before {
                content: "* ";
                color: $color-rubyred;
            }
        }
    }

    .input-div {
        display: inline-block;
        text-align: left;
        vertical-align: middle;

        .input-field {
            padding: 5px;
            border: 1px solid $color-blacksteel;
            border-radius: 2px;
        
            &:focus {
                border-color: $color-goldleaf;
                outline: none;
            }
        }
        > * {
            height: 100%;
        }
    }
}

#radio-list {
    list-style-type: none;
    padding: 0;
}