.input-div {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;

    @include tiny-phone {
        width: 45%;
    }

    .type-field {
        max-width: 100%;
        @include borderAndPadding(5px, 1px, 2px);

        &::placeholder {
            font-size: 90%;

            @include tiny-phone {
                font-size: 80%;
            }
        }
    }
    #dropdown {
        @include borderAndPadding(5px, 1px, 2px);
        max-width: 100%;
    }
    > * {
        height: 100%;
    }
}

textarea {
    resize: vertical;
}

.choice-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        &:not(:last-of-type) {
            margin-bottom: 5px;
        }

        .input-choice {
            margin-right: 5px;
        }
    }
}