.row {
    margin-bottom: 15px;

    .label-div {
        display: inline-block;
        width: 48%;
        text-align: right;
        padding: 0 0 6px;
        margin-right: 20px;
        vertical-align: top;

        @include tiny-phone {
            margin-right: 10px;
        }
        @include phone {
            margin-right: 10px;
        }
        @include tablet {
            margin-right: 15px;
        }
    }
    .label-required {
        label {
            &::before {
                content: "* ";
                color: $color-rubyred;
            }
        }
    }

    @import "input.scss";
}